$color-gradient: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
$color-cream: #F6F6F6;
$color-main-text: #4C4C4C;
$color-menu-text: #CDCDCD;
$color-menu-text-hover: #FAFAFA;
$color-button-text:#292929;
$color-card-background: #FAFAFA;
$color-button-hover: #FDDCC4;
$color-text-h3: #545454;

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
         url("/Shelter/assets/fonts/Georgia.woff2") format("woff2"),
         url("/Shelter/assets/fonts/Georgia.woff") format("woff");
  }

%text-main{
    //styleName: paragraph-l;
font-family: Arial, sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 24px;
line-height: 160%;
letter-spacing: 0px;
text-align: left;
}
%text-button{
    font-family: 'Georgia', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */
letter-spacing: 0.06em;
/* color-dark-3xl */
color: #292929;
}
%text-card-title{
    /* pets-card-title */
font-family: 'Georgia', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
}
%text-icon-h4{
/* h4 */
font-family: 'Georgia', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
/* color-dark-l */
color: #545454;
}
%text-h5{
    /* h5 */
font-family: 'Georgia', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
/* identical to box height, or 17px */
display: flex;
align-items: center;
letter-spacing: 0.06em;
/* color-dark-l */
color: #545454;
}

%text-footer{
    font-family: 'Georgia', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* or 23px */
letter-spacing: 0.06em;
/* color-primary */
color: #F1CDB3;
}

*{  padding: 0;
    margin: 0;    
}
body{
    width:1280px;
    margin: 0 auto;
    background-color: $color-cream;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width:1200px;
    height: 60px;
    padding: 60px 40px; 
    .logo{
        
               
        .subtitle{
            font-family: 'Arial', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            /* identical to box height */
            position: relative;
            letter-spacing: 0.1em;
            /* color-light-xl */
            color: #FFFFFF;
            box-sizing: border-box;
            padding: 0 0 0 4px;
        }
    }
    .nav-menu{
        display: flex;
        align-items: flex-end;
        list-style: none;
        .nav-item{
            margin:0 0 0 35px;

            .nav-link{
            text-decoration: none;
            color: $color-menu-text;
            @extend %text-main;
            &:hover{
                color: $color-menu-text-hover;
                      }
            }
            .nav-link.active{
                color: $color-menu-text-hover;
            }

            
            &:active{
                color: $color-menu-text-hover;
                span{
                    background:  $color-button-hover;
                }  
            }
            span {
                display: block;
                height: 3px;
                
                align-self: stretch;
                flex-grow: 0;
                margin: 0px 0px;
            }
            .current{
                background: #F1CDB3;
            }
            
        }
     }  
}

h1{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
padding: 0 0 10px 0;
/* or 35px */
color: #F1CDB3;

display: flex;
align-items: center;
letter-spacing: 0.06em;
}
h2{
    //styleName: h2;
    width: 310px;
    height: 114px;
    left: calc(50% - 310px/2 - 75px);
    bottom: 208px;
    
    /* h2 */
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    
    display: flex;
    align-items: center;
    padding: 0 0 40px 0;
    /* color-light-xl */
    color: #FFFFFF;
}
h3{     //styleName: h3;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
}
h5{
    @extend %text-h5;
}
.wr-start-screen{
    height: 908px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    .start-screen{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px 0 40px;
        .not-only{
            width: 460px;
            .wraponly{
                position: relative;
                width: 460px;
                height: 322px;
                left: 0px;
                top: 163px;
            }
            .text-main{
    @extend %text-main;
    color: #CDCDCD;
            }
            .wrapbutton{
                padding: 42px 0 0 0;
            }
            button{
                width: 207px;
                height: 52px;
                /* color-primary */
               border-radius: 100px;
                @extend %text-button;
            }
        }
        .img-puppy{
            position: relative;
            width: 698px;
            height: 728px;
            right: 0;    
    }
    }
}


.wr-about{
    display: flex;
    justify-content: space-between;
    height: 588px;
    box-sizing: border-box;
    padding: 80px 40px 100px 40px;
    background: #ffffff;
        .img-about{
        position: relative;
        width: 300px;
        height: 408px;
        left: 175px;
        top: 0px;
   }
    .about{
        position: relative;
        width: 430px;
        height: 380px;
        right: 175px;
        top: 14px;
        @extend %text-main;
        .padding{
            padding: 25px 0px;
        }
        h3{
            color: $color-text-h3;
        }
        .text-main{
            color: $color-main-text;
        }
    }

}

.wr-pets{
    height: 877px;
    background: $color-cream;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 80px 40px 100px 40px;
    h3{
        text-align: center;
        color: $color-text-h3;
    }
    .pets-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
        width:1200px;
        .button-arrow{
            width: 52px;
            height: 52px;
            border: 2px solid #F1CDB3;
            box-sizing: border-box;
            
            border-radius: 100px;

            &:hover{
                border: none;
            }
            .button-link-arrow{
                width:52px;
                height:52px;

                .arrow{
                
                    transform: rotate(-180deg);
                }

            }
            
        }
        .card-wrapper{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width:990px;
            
        }
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 435px;
            width: 270px;
            border-radius: 9px;
            background: #FAFAFA;
            border-radius: 9px;
            

            &:hover{
                background: #fff;
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                cursor: pointer;
                .button-card{
                    background: $color-button-hover;
                    border: none;
                }
            }
            .card-title{
                @extend %text-card-title;
                padding: 30px 98px;
                letter-spacing: 0.06em;
                color: $color-text-h3;
            }
            .wrap-button{
                width: 187px;
                height: 52px;
           
            button{
                @extend %text-button;
                
                border: 2px solid #F1CDB3;
                box-sizing: border-box;
                border-radius: 100px;
                & :hover{
                    background: $color-button-hover;
                    border: none;
                }
            }
        }
        }


    }
    .button-card{
        width: 187px;
        height: 52px;
    }
    .button-main{
        @extend %text-button;
        width: 261px;
        height: 52px;

        border-radius: 100px;
    }

}
.wr-help{
    height: 611px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 80px 40px 100px 40px;
    font-size: 0;
    h3{
        text-align: center;
        color: $color-text-h3;
    }
    .help-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        box-sizing: border-box;
        padding: 60px 87px 0;

        .help-item{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: center;
                height: 113px;
                width: auto;
                box-sizing: border-box;
                padding: 0 60px;

                .icon{
                    height: 60px;
                    width: auto;
                }
                .icon-title{
                    @extend %text-icon-h4;
                }
        }
        #child1 {
            padding: 0 60px 0 0;
            margin: 0 0 55px 0;
        }
        #child5 {
            padding: 0 0 0 57px;
        }
    }
}

.wr-donation{
    height: 462px;
    background: $color-cream;
    .wr2-donation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 915px;
        height: 282px;
        padding: 80px 182px 100px 183px;
        img{
            max-width: 505px;
            max-height: 261px;
        }
        .donation{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            width: 380px;
            height: 282px;
            padding: 0 0 0 30px;
            h3{
                margin:0;
                color: $color-text-h3;
            }
            h5{
                margin: 20px 0;
            }
            #donation-button{
                width: 349px;
                height: 43px;
                /* color-primary */
                background: #F1CDB3;
                border-radius: 9px;
                border:0;
                margin: 0 0 20px 0;
                & :hover{
                    background: $color-button-hover;
                    border-radius: 9px;
                }
                a{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 349px;
                    height: 43px;

                    span{
                        font-family: 'Georgia';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 115%;
                        /* identical to box height, or 23px */
                        letter-spacing: 0.06em;
                        /* color-dark-l */
                        color: #545454;
                    }

                }
                
            }
            .donation-info{
                font-family: 'Arial';
                font-style: italic;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                /* or 150% */
                display: flex;
                align-items: center;
                /* color-dark-m */
                color: #B2B2B2;
            }
        }
    }
}
.wr-footer{
    height: 350px;
    background: $color-gradient;
    box-sizing: border-box;
    padding: 40px 40px 0 40px;
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        .footer-item{
            display:flex;
            flex-direction: column;
            box-sizing: border-box;
            padding:16px 0 0 0;

                .h3-footer{
                    color: #fff;
                    
                }        
                .footer-info{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    
                    img{
                    box-sizing: border-box;
                    padding: 0 20px 0 0;
                    }
                    .text-footer{
                        @extend %text-footer;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
            
                    }
                }
                .info1{
                    box-sizing: border-box;
                    padding: 43px 0;
                }
                .info2{
                    box-sizing: border-box;
                    padding: 34px 0 32px 0;
                }
                
                                
        }
     }
            
}

.button-arrow{
    background: $color-card-background;
}
.button-card{
   border: 2px solid #F1CDB3;
   background: $color-card-background;
box-sizing: border-box;
border-radius: 100px;
}
.button-main{
    border: none;
    background: #F1CDB3;
}
        
.button-link{
    text-decoration: none;
    @extend %text-button;
    
}
button:hover{
    cursor: pointer;
    background: #FDDCC4;
    
}
a{
    text-decoration: none;
}
