@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../../assets/fonts/Georgia.woff2") format("woff2"), url("../../Shelter/assets/fonts/Georgia.woff") format("woff");
}

.header .nav-menu .nav-item .nav-link, .wr-start-screen .start-screen .not-only .text-main, .wr-about .about {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  line-height: 160%;
  letter-spacing: 0px;
  text-align: left;
}

.wr-start-screen .start-screen .not-only .wraponly .wrapbutton .button-link, .wr-pets .pets-card .card .wrap-button button, .wr-pets .button-main, .button-link, .button-card {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
}

.wr-pets .pets-card .card .card-title {
  /* pets-card-title */
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.wr-help .help-list .help-item .icon-title {
  /* h4 */
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

h5 {
  /* h5 */
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.wr-footer footer .footer-item .footer-info .text-footer {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #F6F6F6;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  height: 60px;
  padding: 60px 40px;
}

.header .burger {
  display: none;
  width: 30px;
  height: 30px;
}

.header .burger .burger-line {
  display: block;
  width: 30px;
  height: 2px;
  background: #F1CDB3;
}

.header .burger .burger-line2 {
  margin: 8px 0;
}

.header .logo .subtitle {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  position: relative;
  letter-spacing: 0.1em;
  /* color-light-xl */
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 4px;
}

.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
}

.header .nav-menu .nav-item {
  margin: 0 0 0 35px;
}

.header .nav-menu .nav-item .nav-link {
  text-decoration: none;
  color: #CDCDCD;
}

.header .nav-menu .nav-item .nav-link:hover {
  color: #FAFAFA;
}

.header .nav-menu .nav-item .nav-link.active {
  color: #FAFAFA;
}

.header .nav-menu .nav-item:active {
  color: #FAFAFA;
}

.header .nav-menu .nav-item:active span {
  background: #FDDCC4;
}

.header .nav-menu .nav-item span {
  display: block;
  height: 3px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 0px;
}

.header .nav-menu .nav-item .current {
  background: #F1CDB3;
}

h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  padding: 0 0 10px 0;
  /* or 35px */
  color: #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
}

h2 {
  width: 310px;
  height: 114px;
  left: calc(50% - 310px/2 - 75px);
  bottom: 208px;
  /* h2 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 40px 0;
  /* color-light-xl */
  color: #FFFFFF;
}

h3 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: left;
}

.wr-start-screen {
  height: 908px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wr-start-screen .start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 40px 0 40px;
}

.wr-start-screen .start-screen .not-only {
  width: 460px;
}

.wr-start-screen .start-screen .not-only .wraponly {
  position: relative;
  width: 460px;
  height: 322px;
  left: 0px;
  top: 163px;
}

.wr-start-screen .start-screen .not-only .wraponly .wrapbutton {
  padding: 42px 0 0 0;
}

.wr-start-screen .start-screen .not-only .wraponly .wrapbutton .button-link {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 44px;
  text-align: center;
  width: 207px;
  height: 52px;
  /* color-primary */
  background-color: #F1CDB3;
  border-radius: 100px;
  border: none;
}

.wr-start-screen .start-screen .not-only .wraponly .wrapbutton .button-link:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.wr-start-screen .start-screen .not-only .text-main {
  color: #CDCDCD;
}

.wr-start-screen .start-screen .img-puppy {
  position: relative;
  width: 698px;
  height: 728px;
  right: 0;
}

.wr-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 588px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 40px 100px 40px;
  background: #ffffff;
}

.wr-about .img-about {
  position: relative;
  width: 300px;
  height: 408px;
  left: 175px;
  top: 0px;
}

.wr-about .about {
  position: relative;
  width: 430px;
  height: 380px;
  right: 175px;
  top: 14px;
}

.wr-about .about .padding {
  padding: 25px 0px;
}

.wr-about .about h3 {
  color: #545454;
}

.wr-about .about .text-main {
  color: #4C4C4C;
}

.wr-pets {
  height: 877px;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 40px 100px 40px;
}

.wr-pets h3 {
  text-align: center;
  color: #545454;
}

.wr-pets .pets-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
  width: 1200px;
}

.wr-pets .pets-card .button-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.wr-pets .pets-card .button-arrow:hover {
  border: none;
}

.wr-pets .pets-card .button-arrow .button-link-arrow {
  width: 52px;
  height: 52px;
}

.wr-pets .pets-card .button-arrow .button-link-arrow .arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.wr-pets .pets-card .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 990px;
}

.wr-pets .pets-card .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 435px;
  width: 270px;
  border-radius: 9px;
  background: #FAFAFA;
  border-radius: 9px;
}

.wr-pets .pets-card .card:hover {
  background: #fff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.wr-pets .pets-card .card:hover .button-card {
  background: #FDDCC4;
  border: none;
}

.wr-pets .pets-card .card .card-title {
  padding: 30px 98px;
  letter-spacing: 0.06em;
  color: #545454;
}

.wr-pets .pets-card .card .wrap-button {
  width: 187px;
  height: 52px;
}

.wr-pets .pets-card .card .wrap-button button {
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.wr-pets .pets-card .card .wrap-button button :hover {
  background: #FDDCC4;
  border: none;
}

.wr-pets .button-card {
  width: 187px;
  height: 52px;
}

.wr-pets .button-main {
  width: 261px;
  height: 52px;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 44px;
}

.wr-pets .button-main:hover {
  background: #FDDCC4;
}

.wr-help {
  height: 611px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 40px 100px 40px;
  font-size: 0;
}

.wr-help h3 {
  text-align: center;
  color: #545454;
}

.wr-help .help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 87px 0;
}

.wr-help .help-list .help-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 113px;
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 60px;
}

.wr-help .help-list .help-item .icon {
  height: 60px;
  width: auto;
}

.wr-help .help-list #child1 {
  padding: 0 60px 0 0;
  margin: 0 0 55px 0;
}

.wr-help .help-list #child5 {
  padding: 0 0 0 57px;
}

.wr-donation {
  height: 462px;
  background: #F6F6F6;
}

.wr-donation .wr2-donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 915px;
  height: 282px;
  padding: 80px 182px 100px 183px;
}

.wr-donation .wr2-donation img {
  max-width: 505px;
  max-height: 261px;
}

.wr-donation .wr2-donation .donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 380px;
  height: 282px;
  padding: 0 0 0 30px;
}

.wr-donation .wr2-donation .donation h3 {
  margin: 0;
  color: #545454;
}

.wr-donation .wr2-donation .donation h5 {
  margin: 20px 0;
}

.wr-donation .wr2-donation .donation .btndon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 349px;
  height: 43px;
  /* color-primary */
  background: #F1CDB3;
  border-radius: 9px;
  border: 0;
  margin: 0 0 20px 0;
}

.wr-donation .wr2-donation .donation .btndon img {
  display: inline-block;
  padding-left: 15px;
}

.wr-donation .wr2-donation .donation .btndon span {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px 10px 0px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.wr-donation .wr2-donation .donation .btndon:hover {
  background: #FDDCC4;
}

.wr-donation .wr2-donation .donation .donation-info {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* color-dark-m */
  color: #B2B2B2;
}

.wr-footer {
  height: 350px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 40px 0 40px;
}

.wr-footer footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.wr-footer footer .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0 0 0;
}

.wr-footer footer .footer-item .h3-footer {
  color: #fff;
}

.wr-footer footer .footer-item .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wr-footer footer .footer-item .footer-info img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 0 0;
}

.wr-footer footer .footer-item .footer-info .text-footer {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wr-footer footer .footer-item .info1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 43px 0;
}

.wr-footer footer .footer-item .info2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 34px 0 32px 0;
}

.button-arrow {
  background: #F6F6F6;
}

.button-card {
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.button-main {
  border: none;
  background: #F1CDB3;
}

.button-link {
  text-decoration: none;
}

.button-card {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background: #FDDCC4;
}

a {
  text-decoration: none;
}

@media Screen and (max-width: 1279.6px) and (min-width: 768px) {
  body {
    max-width: 1279px;
  }
  .header {
    padding: 30px 30px 60px;
  }
  .wr-start-screen {
    height: 1165px;
  }
  .wr-start-screen .start-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .wr-start-screen .start-screen .not-only {
    padding: 0 0 100px 0;
  }
  .wr-start-screen .start-screen .not-only .wraponly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
  }
  .wr-start-screen .start-screen .not-only .wraponly .wrapbutton {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .wr-start-screen .start-screen .img-puppy {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-right: 30px;
    width: 569px;
    height: 593px;
  }
  .wr-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1048px;
  }
  .wr-about .img-about {
    position: static;
  }
  .wr-about .about {
    position: static;
  }
  .wr-pets {
    height: 877px;
    padding: 80px 30px 100px 30px;
  }
  .wr-pets .pets-card {
    width: 100%;
  }
  .wr-pets .pets-card .card-wrapper {
    width: 88%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wr-pets .pets-card .card-wrapper .card3 {
    display: none;
  }
  .wr-help {
    height: 779px;
    padding: 80px 30px 100px 30px;
  }
  .wr-help .help-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 55px 65px;
    padding: 60px 0 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wr-help .help-list .help-item {
    padding: 0;
  }
  .wr-help .help-list #child1 {
    padding: 0;
    margin: 0;
  }
  .wr-help .help-list #child5 {
    padding: 0;
    margin: 0;
  }
  .wr-donation {
    height: 783px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0 30px;
  }
  .wr-donation .wr2-donation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 80px 0 100px 0;
  }
  .wr-donation .wr2-donation .donation {
    padding: 0;
  }
  .wr-footer {
    height: 639px;
    padding: 30px 30px 0 30px;
  }
  .wr-footer footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 65px;
  }
  .wr-footer footer .footer-item {
    padding: 0;
  }
  .wr-footer footer .footer-item2 {
    padding-right: 8px;
  }
  .wr-footer footer img {
    margin: 0 auto;
    padding: 0 105px;
  }
}

@-webkit-keyframes move-logo {
  from {
    right: -100%;
  }
  to {
    right: 126px;
  }
}

@keyframes move-logo {
  from {
    right: -100%;
  }
  to {
    right: 126px;
  }
}

@media Screen and (max-width: 767.6px) {
  body {
    max-width: 767px;
  }
  * {
    padding: 0;
    margin: 0;
  }
  .lock {
    overflow: hidden;
  }
  .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  .active {
    background: rgba(41, 41, 41, 0.6);
    z-index: 1;
  }
  h2 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  h3 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .header {
    height: 60px;
    padding: 30px 53px 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo {
    z-index: 4;
  }
  .header .logo-active {
    display: block;
    position: absolute;
    -webkit-animation-name: move-logo;
            animation-name: move-logo;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    right: 126px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 6px;
    z-index: 3;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    position: absolute;
    right: 52px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header .active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header .menu-body {
    position: fixed;
    display: block;
    background: #292929;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 248px 38px 248px 39px;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    z-index: 2;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    overflow: scroll;
  }
  .header .menu-body .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 243px;
    height: 327px;
  }
  .header .menu-body .nav-menu .nav-item {
    margin: 0;
  }
  .header .menu-body .nav-menu .nav-item a {
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .header .menu-body-active {
    right: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .wr-start-screen {
    height: 823px;
  }
  .wr-start-screen .start-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 94%;
    height: 733px;
    padding: 0 3% 0;
  }
  .wr-start-screen .start-screen .not-only {
    width: 300px;
    height: 296px;
    padding: 60px 0 0 0;
  }
  .wr-start-screen .start-screen .not-only .wraponly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    position: static;
  }
  .wr-start-screen .start-screen .not-only .wraponly h2 {
    width: 300px;
    align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 52px;
  }
  .wr-start-screen .start-screen .not-only .wraponly .text-main {
    width: 100%;
    max-height: 96px;
    text-align: center;
  }
  .wr-start-screen .start-screen .not-only .wraponly .wrapbutton {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .wr-start-screen .start-screen .img-puppy {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-right: 0;
    padding-left: 40px;
    width: 260px;
    height: 271px;
  }
  .wr-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 974px;
    padding: 42px 3%;
  }
  .wr-about .img-about {
    position: static;
    width: 260px;
    height: 353px;
  }
  .wr-about .img-about img {
    width: 260px;
    height: 353px;
  }
  .wr-about .about {
    position: static;
    width: 300px;
    height: 494px;
  }
  .wr-about .about .text-main {
    padding-right: 15px;
    padding-left: 15px;
    text-align: justify;
  }
  .wr-pets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 791px;
    padding: 42px 3%;
  }
  .wr-pets h3 {
    padding-bottom: 22px;
  }
  .wr-pets .pets-card {
    width: 270px;
    height: 507px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-bottom: 10px;
  }
  .wr-pets .pets-card .button-arrow-right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .wr-pets .pets-card .button-arrow-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .wr-pets .pets-card .card-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 270px;
    height: 435px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: static;
    padding: 0;
  }
  .wr-pets .pets-card .card-wrapper .card1 {
    margin-bottom: 20px;
  }
  .wr-pets .pets-card .card-wrapper .card3 {
    display: none;
  }
  .wr-pets .pets-card .card-wrapper .card2 {
    display: none;
  }
  .wr-help {
    height: 745px;
    padding: 42px 5%;
  }
  .wr-help .help-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px 30px;
    padding: 42px 0 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wr-help .help-list .help-item {
    padding: 0;
    height: 87px;
    width: 130px;
  }
  .wr-help .help-list .help-item .icon {
    height: 50px;
    width: auto;
  }
  .wr-help .help-list .help-item .icon-title {
    font-size: 15px;
    line-height: 110%;
  }
  .wr-help .help-list #child1 {
    padding: 0;
    margin: 0;
  }
  .wr-help .help-list #child5 {
    padding: 0;
    margin: 0;
  }
  .wr-donation {
    height: 542px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
  }
  .wr-donation .wr2-donation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 42px 3%;
  }
  .wr-donation .wr2-donation #imgdog {
    width: 260px;
    height: 135px;
  }
  .wr-donation .wr2-donation h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    white-space: nowrap;
    letter-spacing: 0;
    text-align: center;
  }
  .wr-donation .wr2-donation .donation {
    width: 300px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wr-donation .wr2-donation .donation .btndon {
    width: 281px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    border: 0;
    margin: 0 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 281px;
    height: 43px;
  }
  .wr-donation .wr2-donation .donation .btndon span {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 23px */
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }
  .wr-donation .wr2-donation .donation .btndon :hover {
    background: #FDDCC4;
    border-radius: 9px;
  }
  .wr-donation .wr2-donation .donation .donation-info {
    text-align: justify;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  .wr-footer {
    height: 809px;
    padding: 30px 3% 0;
  }
  .wr-footer footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
  .wr-footer footer .footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .wr-footer footer .footer-item h3 br {
    display: none;
  }
  .wr-footer footer .footer-item1 {
    width: 278px;
    height: 208px;
  }
  .wr-footer footer .footer-item1 .info1 {
    padding: 42px 0;
  }
  .wr-footer footer .footer-item2 .h3-footer2 {
    width: 270px;
  }
  .wr-footer footer .footer-item2 .info2 {
    padding: 40px 0;
  }
  .wr-footer footer .footer-item2 .footer-info {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .wr-footer footer .footer-puppy {
    width: 260px;
    height: 269px;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */