$color-gradient: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
$color-cream: #F6F6F6;
$color-main-text: #4C4C4C;
$color-menu-text: #CDCDCD;
$color-menu-text-hover: #FAFAFA;
$color-button-text:#292929;
$color-card-background: #FAFAFA;
$color-button-hover: #FDDCC4;
$color-dark-1: #545454;
$color-text-h3: #545454;

@font-face {
    font-family: Georgia, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
         url("/Shelter/assets/fonts/Georgia.woff2") format("woff2"),
         url("/Shelter/assets/fonts/Georgia.woff") format("woff");
  }


%text-main{
    //styleName: paragraph-l;
font-family: Arial, sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 24px;
line-height: 160%;
letter-spacing: 0px;
text-align: left;
}
%text-button{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */
letter-spacing: 0.06em;
/* color-dark-3xl */
color: #292929;
}
%text-card-title{
    /* pets-card-title */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
}
%text-icon-h4{
/* h4 */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
/* color-dark-l */
color: #545454;
}
%text-h5{
    /* h5 */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
/* identical to box height, or 17px */
display: flex;
align-items: center;
letter-spacing: 0.06em;
/* color-dark-l */
color: #545454;
}

%text-footer{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* or 23px */
letter-spacing: 0.06em;
/* color-primary */
color: #F1CDB3;
}

*{  padding: 0;
    margin: 0;    
}
body{
    max-width:1280px;
    margin: 0 auto;
    background-color: $color-cream;
}
h1{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
padding: 0 0 10px 0;
/* or 35px */
color: #F1CDB3;

display: flex;
align-items: center;
letter-spacing: 0.06em;
}
h2{
    //styleName: h2;
    width: 310px;
    height: 114px;
    left: calc(50% - 310px/2 - 75px);
    bottom: 208px;
    
    /* h2 */
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    
    display: flex;
    align-items: center;
    padding: 0 0 40px 0;
    /* color-light-xl */
    color: #FFFFFF;
}
h3{     //styleName: h3;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;
}
h5{
    @extend %text-h5;
}

.wr-header{
    position: sticky;
    top:0;
    background-color: #FFFFFF;

    .header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 120px;
    box-sizing: border-box;
    padding: 30px 40px; 

    .burger{ 
        display:none;
        width: 30px;
        height: 30px;
        
        .burger-line{
            display:block;
         width: 30px;
         height: 2px;
         background: #000000;
        }
        .burger-line2{
            margin: 8px 0;
        }
        

     }
    .logo{  
        h1{
            color: $color-dark-1;

        }     
               
        .subtitle{
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #292929;
            /* identical to box height */
            position: relative;
            letter-spacing: 0.1em; 
            box-sizing: border-box;
            padding: 0px 0px 0px 4px;          
        }
    }
    .nav-menu{
        display: flex;
        align-items: flex-end;
        list-style: none;
        .current-item{
            color: $color-button-text;
        }
        .nav-item{
            display: flex;
            flex-direction: column;
            margin:0 0 0 35px;
            .nav-link{
            text-decoration: none;
            color: $color-dark-1;
            @extend %text-main;
            
            &:hover{
                color: $color-button-text;
            }
            }
            &:active{
                span{
                    background: $color-button-hover;
                }
            }
            .nav-link.active{
                color: $color-button-text;
            }
            span {
                display: block;
                height: 3px;
                
                align-self: stretch;
                flex-grow: 0;
                margin: 0px 0px;
            }
            .current{
                background: #F1CDB3;
            }
        }
     }  
    }
}     

.wr-pets{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 80px 40px 100px;
    height: 1342px;
    h3{
        text-align: center;
        color: $color-text-h3;
    }
    .pets-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        padding:45px 0;
        height: 1045px;
        
        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:center;
            width: 270px;
            height: 435px;
            margin: 15px 0;
            border-radius: 9px;
            background: $color-card-background;

            &:hover{
                background: #ffffff;
                cursor: pointer;
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                .button-card{
                    background: $color-button-hover;
                    border: none;
                }
            }

          
            .card-title{
                @extend %text-card-title;
                text-align: center;
                color: $color-text-h3
            }
            .wrapbutton{
                box-sizing: border-box;
                padding: 0 0 30px 0;
                button{
                    @extend %text-button;
                    width: 187px;
                    height: 52px;
                    border: 2px solid #F1CDB3;
                    box-sizing: border-box;
                    border-radius: 100px;
                }
            }
            
        }



    }


}
.nav-container{
    display:flex;
    justify-content: space-between;
    align-self: center;
    width: 340px;
    height: 52px;

    .paginator{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border-radius: 52px;
        .p-not-active{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            /* identical to box height, or 23px */
            text-align: center;
            letter-spacing: 0.06em;
            color: #CDCDCD;
            cursor: default;
        }
        .p-active{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            /* identical to box height, or 23px */
            text-align: center;
            letter-spacing: 0.06em;
            /* color-dark-3xl */
            color: #292929;
            cursor: default;
             
        }
    }
    .p-left{
        border: 2px solid #CDCDCD;
        background: #F6F6F6;
        cursor: default;
        
    }
    .p-center{
        background: #F1CDB3;
        border: none;
        cursor: default;
                
    
    }
    .p-right{
        border: 2px solid #F1CDB3;
        background: #F6F6F6;
       &:hover{
           background: $color-button-hover;
           border: none;
       }
    }
    
}
 


.wr-footer{
    height: 350px;
    background: $color-gradient;
    box-sizing: border-box;
    padding: 40px 40px 0 40px;
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        .footer-item{
            display:flex;
            flex-direction: column;
            box-sizing: border-box;
            padding:16px 0 60px 0;

                .h3-footer{
                    color: #fff;
                    
                }        
                .footer-info{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    
                    img{
                    box-sizing: border-box;
                    padding: 0 20px 0 0;
                    }
                    .text-footer{
                        @extend %text-footer;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                    }
                }
                .info1{
                    box-sizing: border-box;
                    padding: 43px 0;
                }
                .info2{
                    box-sizing: border-box;
                    padding: 34px 0 32px 0;
                }
                
                                
        }
     }
            
}

.button-arrow{
    background: $color-card-background;
}
.button-card{
   border: 2px solid #F1CDB3;
   background: $color-card-background;
box-sizing: border-box;
border-radius: 100px;
}
.button-main{
    border: none;
    background: #F1CDB3;
}
        
.button-link{
    text-decoration: none;
    @extend %text-button;
    
}
button:hover{
    cursor: pointer;
    background: #FDDCC4;
}
a{
    text-decoration: none;
}

@media Screen and (max-width: 1279.6px) and (min-width: 768px){
    body{
        max-width: 1279px;
        
    }
    .wr-header{
        height: 120px;

        .header{
            padding: 30px;
            width:100%;
            
        }
    }

    .wr-pets{
        height: 1733px;
        display: flex;
        gap:30px;
        align-items: center;
        justify-content:baseline;
        box-sizing: border-box;
        padding: 60px 30px 70px;
        h3{
            box-sizing: border-box;
            padding-top: 20px;
        }
        
        .pets-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-self: center;
            box-sizing: border-box;
            height: 1365px;
            padding: 0 0 40px;
            column-gap: 40px;
            row-gap: 30px;
            overflow: hidden;

            .card{
                margin: 0;
            }
            
        }
       
        .nav-container{
            margin-top:10px;
            padding: 0;
        }

    }
    
    
    
    
    
    .wr-footer{
        height: 639px;
        padding: 30px 30px 0 30px;
        footer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 65px;
            .footer-item{
                padding: 0;
            }
           
            .footer-item2{
                padding-right: 8px;
                
            }
            img{
                margin: 0 auto;
                padding:0 95px;
                
            }


        }

    }
}
@keyframes move-logo {
    from{ right: -100%;}
    to{ right:126px}
}
@media Screen and (max-width: 767.6px){
   
    body{
        max-width: 767px;
    }
    *{
        padding:0;
        margin:0;
    }
    h2{
        font-size: 25px; 
        text-align: center;
        letter-spacing: 0.06em;    
    }
    h3{
        font-size: 25px; 
        text-align: center;
        letter-spacing: 0.06em;    
    }
    .lock{
        overflow: hidden;
    }

    .shadow{
        width: 100%;
        height: 823px;
        position: absolute;

    }
    .shadow-active{
        background: rgba(41, 41, 41, 0.6);     
    }
    .wr-header{
        height: 120px;
        .logo-active{
            z-index: 3;
            position: absolute;
            animation-name: move-logo;
            animation-duration: 0.5s;
            right: 126px;
            transition: all 0.5s;
            .subtitle-active{
                color: #FFFFFF !important;
            }

            .h1-active{
                font-family: 'Georgia';
                font-weight: 400;
                font-size: 32px;
                line-height: 110%;
                /* or 35px */
                
                letter-spacing: 0.06em;
                /* color-primary */
                
                color: #F1CDB3 !important;
                font-style: normal;
            }
        }
        .header{
            height: 60px;
            align-items: center;
            justify-content: space-between;
            padding: 60px 53px 30px 10px;
            
            .burger{
                display:flex;
                flex-direction: column;
                padding-top: 8px;
                z-index: 4;
                transition: all 0.5s;
            }
            .active{
                position: absolute;
                right: 53px;
                transform:rotate(90deg);
                transition:all 0.5s;
                .burger-line{
                    background: #F1CDB3;
                }
                
            }
            .menu-body{
                position: fixed;
                display: block;
                background: $color-button-text;
                box-sizing: border-box;
                padding: 248px 38px 248px 39px;
                top: 0;
                right: -100%;
                width: 320px;
                height: 100%;
                z-index: 2;
                transition: right 0.5s;
                overflow: scroll;
                .nav-menu{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 243px;
                    height: 327px;
                    
                    
                    .nav-item{
                        margin:0;
                        
                        a{
                            //styleName: paragraph-mobile-menu;
                            font-family: Arial;
                            font-size: 32px;
                            font-weight: 400;
                            line-height: 51px;
                            letter-spacing: 0px;
                            text-align: left;
                            padding: 0;
                            margin: 0;
                            color: #CDCDCD;
                            &:active{
                                color: #fafafa;
                            }
                              
                        }
                        .active{
                            transform: rotate(0deg);
                            color: #fafafa;
                            position: static;
                        }
                    }
                }
            }
            .menu-body-active{
                right: 0;
                transition:all 0.5s;                
            }
    
            nav{
                display: none;
            }
        }
    }
    

    .wr-pets{
        height: 1649px;
        display: flex;
        gap:30px;
        align-items: center;
        justify-content:baseline;
        box-sizing: border-box;
        padding: 42px 3%;

        h3{
            padding:0;
        }
        .pets-container{
            display: grid;
            grid-template-columns: 1fr;
            align-self: center;
            box-sizing: border-box;
            height: 1365px;
            padding: 0 0 40px;
            row-gap: 30px;
            overflow: hidden;
            margin-top: 10px;

            .card{
                margin: 0;
            }
            
        }
       
        .nav-container{
            width: 300px;
            height: 52px;
            margin-top:10px;
            padding: 0;
        }

    }
    .wr-footer{
        height: 809px;
        padding: 30px 3% 0;
        footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 40px;
            .footer-item{
                display:flex;
                align-items: center;
                padding: 0;
                h3{
                    br{
                        display: none;
                    }
                }
            }
            .footer-item1{
                width:278px;
                height: 208px;
                .info1{
                    padding: 42px 0;
                }
                
            }
            .footer-item2{
                .h3-footer2{
                    width: 270px;
                }
    
                .info2{
                    padding: 40px 0;
                }
                .footer-info{
                    align-self: flex-start;
                }
                
                
            }
            .footer-puppy{
                width: 260px;
                height: 269px;
                padding:0;
            }
    
    
        }
    
    }
}

